


 @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

.grid__container{
	display: grid;
    grid-template-columns: 46% 35%;
    grid-auto-rows: minmax(250px,auto);
    grid-column-gap:15% ;
    grid-row-gap:3% ;
    
    margin-left: 4rem;
    margin-top: 6rem;
    padding: 4rem;
}
.grid__newicons p{
    text-align: center;
margin-left: 3rem;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.grid__newicons {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    grid-column: 1/-1;
    
    padding: 1rem;
    color: #FFFFFF;
    padding: 5rem;
  } 

/* .abtimg{
    display: grid;
    grid-template-rows: 30% 10%;
    grid-auto-rows: minmax(150px,auto);
    gap: 10%;
   
} */
.about__icon{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(300px,auto);
    padding: 2rem;

    /* gap: 10%; */
     grid-column-gap:2% ;
    
  
    overflow: hidden;
    background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
}
.grid-numbersabt{
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
    grid-column-gap:5%;
    margin-top: 7rem;
   margin-bottom: 5rem; 
    color: white;
    font-size: 50px;
    text-shadow: -1px 1px 0 #0E828F,
                  1px 1px 0 #0E828F,
                 1px -1px 0 #0E828F,
                -1px -1px 0 #0E828F;
}
/* .about__icon{
    display: grid;
    grid-template-rows: 20%  70%;
} */
.grid__header_about{
    grid-area: header;
}
.content1{
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    border-style:solid;
    border: 2px solid ;
    border-radius: 5px;
    /* gap: 10px; */
    background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
    border-radius: 8px;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;

}
.colorus{
    color: white;
   background-color: #0E828F

}
.Abttext1{
    width: 662.7px;
	height: 68px;
	 margin-left: 25%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    
    text-align: center;
    
    color: #7C7C7C;
    }
.content2{
   
    border-radius: 8px;
    border-style: solid;
    border: 2px solid red;
     border-radius: 5px; 
     padding: 1rem;
    height: 410px; 
   gap: 5%;
    margin-top: -3rem;
    margin-bottom: 1rem;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
/* gap: 10px; */
color: #030211;
}
.About__text{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;

color: #000000;
}
.main{
width: 300px;
height: 68px;
 margin-left: 3rem;
 font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;
}
.newbox{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-auto-rows: minmax(300px,auto);
    gap: 5%;
}
.content3{
    padding: 2rem;
    border-radius: 8px;
    border-style: solid;
    border: 2px solid rgb(235, 11, 11);
   
    height: 300px;
  margin-top: -18rem;
  /* margin-left: 140%;  */
  /* width: 400px;
    */
    /* gap: 15px;  */
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
/* height: 200px; */
color: #030211;
    
}

.what{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}
.whatt{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
/* identical to box height */


/* #0E828F */

color: #0E828F;
}
.button-abt{
	background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
	text-decoration: none;

	border: none;
	outline: none;
	color:white;
	font-weight: 700;
	border-radius: 30px;
	font-size: 12px;
	padding: 14px 40px;
	border-color: #000000;
	transition: all 0.5s;
	cursor: pointer;
   
    margin-top: 7rem;
    margin-left: 36rem;
    /* padding: 2rem;
    height: 1rem;
    width: 10rem; */
	/* margin: 5px; */
  }
  .button-abt span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
    margin-bottom: -7rem;
   
  }
  /* .button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  } */
  
  .button-abt:hover span {
	padding-right: 25px;
  }
  
  .button-abt:hover span:after {
	opacity: 1;
	right: 0;
  }
.btn-about{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
    
	/* padding: 2rem; */
	background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
	border-radius: 40px;
text-decoration: none;
	border: none;
	outline: none;
	color: #fff;
	font-weight: 400;
	border-radius: 30px;
	font-size: 12px;
  }
.btn-about{
    margin-top: 5rem;
    margin-left: 35rem;
    padding: 2rem;
}
.whattt{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
/* identical to box height */


/* #0E828F */

color: #0E828F;
}
.grid-abtimg{
    display: grid;
    grid-template-rows: 20% 35%;
    grid-auto-rows: minmax(300px,auto);
    grid-row-gap: 5%;
  
}

.title{
   
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
	.grid__container{
		grid-template-columns: 1fr;
        margin-left: -3rem;
        margin-top: 3rem;
        padding: 2rem;
        padding-left: 0rem
		
	}
    .grid__newicons{
        padding: 1rem;
    }
    
    .content1{
        margin-left: 0rem;
        padding: 4rem;
        /* margin-bottom: -4rem; */
        margin-top: -9rem;
    }
    
    .about__icon{
        grid-template-columns: 1fr;
      padding: 4rem;
      margin-left: -2rem;
    }
    .btn-about{
        grid-template-columns: 1fr;
       margin-left: 5rem;
       margin-top: 3rem;
       width: 50%;
    } 
    .button-abt{
        grid-template-columns: 1fr;
        margin-left: 5rem;
        margin-top: 3rem;
        width: 50%;
    }

    .grid-abtimg{
        grid-template-columns: 1fr;
       
    }
    .Abttext p{
        font-size: 58px;
        line-height: 120px;

    }
    .Abttext1{
        margin-left: 1rem;
        width: auto;
        height: auto;
    }
    .main{
        width: auto;
        height: auto;
        margin-left: 5%;
    }
    .content3{
     grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-top: -13rem;
        margin-bottom: 73rem;
        padding: 1rem;
        width: 20rem;
        height: 100%;
        overflow: hidden;
        border-radius: 1px;
       
    }
    .content2{
        padding: 3rem;
        margin-top: 1rem;
        height: 726px;
        width: 20rem;
        margin-left: 2rem;
        margin-bottom: 13rem;
    }
    .grid-numbersabt{
        grid-template-columns: 1fr;
        margin-top: -37rem;
        margin-bottom: 1rem;
    }
    .newbox{
        grid-template-columns: 1fr;
      padding: 3rem;
        width: 100%;
        height: 70%;
    }
    .Abttext{
        font-weight: 500;
font-size: 60px;
    }
    .About__text{
        font-weight: 300;
font-size: 22px;
padding: 2rem;
margin-left: 3rem;
    }
    .texttewos{
        font-weight: 400;
        font-size: 23px;
        padding: 4rem;
        margin-left: -2rem;
        margin-top: -4rem;

    }
    .whyus{
        padding: 2rem;
    }
}
@media (min-width: 1920px) and (max-width: 2560px) {
	.Abttext1{margin-left: 33%;}
    .btn-about {
        margin-top: 6rem;
        margin-left: 54rem;
        padding: 2rem;
    }
    .content3{
        margin-top: -12rem;
    }
    .grid-numbersabt{
        margin-top: 11rem;
    }
    .button-abt{
        margin-left: 55rem;
    }
    .title{
        text-align: center;
    }
    .main{
        text-align: center;
        margin-left: 8rem;
    }
}