.grid__image{
	display: grid;
	grid-template-columns:20% 20% 20%;
	padding: 15rem;
/* margin-bottom: 15rem; */
margin-bottom: 10rem;
margin-left: 5rem;
	align-items: center;
	margin-top: 8rem;
	overflow: hidden;
	background-image: url("../image/Group\ 27.png");

  }
 
    .p2{
position:absolute;
width: 50px;
height:150px;
left: 300px;
/* margin-left: 5rem; */
   }  
   .p1{
	position:absolute;
	padding: 3rem;
	width: 50%;
height: 620.22px;
left: 500px; 
margin-top: 3rem;
/* width: 50%;
height: 620.22px;
left: 500px;  */
margin-top: 3rem;


   }
   .p3{
	gap: 8px;
	padding: 2rem;
	padding-bottom: 2%;
	position:absolute;
	margin-left: 30rem;
	margin-bottom: -30rem;

   }   
   .p3 a {
	text-decoration: none;
}
   @media only screen and (max-width: 700px) {
	.grid__image{
		grid-template-columns: 1fr;
		/* overflow: hidden; */
		padding: 1rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.p2{
		grid-template-columns: 1fr;
		/* width: 5%;
		height: 3%; */
		position: relative;
		left:5px;
		
	}
	.p3 a {
		text-decoration: none;
	}

	.p3{
		grid-template-columns: 1fr;
		padding: 6rem;
		position: relative;
		margin-left: -2rem;
	margin-bottom: -1rem;
	margin-top: 11rem;
	text-decoration: none;
	}
	.p1{
		grid-template-columns: 1fr;
		position: relative;
		margin-top: 5rem;
		padding: 0rem;
		width: 5%;
		left: 5px;
		height: 3%;
	}
}
@media (min-width: 1920px) and (max-width: 2560px) {
	.p1{
		margin-left: 25rem;
	}
	.p2{
		margin-left: 25rem;
	}
	.p3 {
	
		margin-left: 52rem;
		
	}
}
   
