.grid-numbers{
    display: grid;
    grid-template-columns:20% 20% 20% 20%;
    grid-column-gap:5%;
   margin-top: 6rem;
    color: white;
    font-size: 50px;
    text-shadow: -1px 1px 0 #0E828F,
                  1px 1px 0 #0E828F,
                 1px -1px 0 #0E828F,
                -1px -1px 0 #0E828F;
 
}
.lorem{
    color: red;
    border: none;
    margin-left: 5rem;
 
}
@media only screen and (max-width: 700px) {
	.grid-numbers{
        grid-template-columns: 1fr;
     
    }
     .lorem{
        margin-left: 7rem;
     }

}