.grid_home__content{
    display: grid;
    grid-template-columns: 45% 40%;
     grid-auto-rows: minmax(150px,auto);
     
     grid-column-gap:15%;
    margin-top:5%;
     padding: 13rem;

    background-image: url("../image/Group 27.png");
    background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
       
       .txtlink{
        text-decoration: none;
       }
       .blue {
       margin-top: -230%;
       margin-left: 100%;
        }  
      .project{
        background-color: #0E828F;
      }
       .grid__item {
        margin-top: -9rem;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        padding: 1rem;
        grid-column: 1/-1;
      } 
      .grid__item p{
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        padding: 1rem;
       
      }
      .paragraph__work{
        text-align: center;
      }
      @media only screen and (max-width: 700px) {
        .grid_home__content{
            grid-template-columns: 1fr;
            overflow: hidden;
            padding: 1rem;
            margin-top: 5%;
          
        }
         
        .grid__item {
          grid-template-columns: 1fr;
          padding: 3rem;
          margin-left: -3rem;
          margin-top: -1rem;
      }
        .grid__item p{
          padding: 2rem;
        }
        .home-img2  {
          padding: 1rem;
          /* width: 22rem; */
         
        }
        .home-img4 {
        padding: 1rem;
        /* width: 22rem; */
       
        }
        .home-img3 img{
          /* width: 23rem; */
        }
        .home-img2 img{
          /* width: 21rem; */
        }
        .home-img1 img{
          /* width: 23rem; */
        }
        .blue {
          margin-top: -5%;
          margin-left: auto;
           }  
           img.web-img{
            margin-left: 15rem;
           }
    }
    @media (min-width: 1920px) and (max-width: 2560px) {

    .grid_home__content {
      padding: 25rem;}
    .grid__item{
      margin-top: -22rem;
    }
    }
    .web-img{
      position: absolute;
    margin-left: 20rem;
    margin-top: -33rem;
    }