   /*  */
   @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
   
   .grid-main{
	display: grid;
	grid-template-columns: 35%   35%;
  grid-template-rows: 1fr;
	grid-auto-rows: minmax(150px auto);
 
	grid-column-gap:15%;
  grid-row-gap:8%;
  padding: 3rem;
  margin-left: 15%;

	
	
  }
  .colorspan{
    background-color: #0E828F;
     color: white;
  }
  .grid__servic{
   margin: 50px 0px;
   gap: none;
   font-family: 'Syne';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   line-height: 48px;
   text-align: center;
  color: rgb(228, 31, 31);

  }
	.hr{
    text-decoration: none;
  }
  
  
   .main-text  {
	display: grid;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
text-align: left;

color: #000000; 
  } 
    .main-text1 {

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
text-align: left;

color: #000000;
  } 
   .main-text2 {

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
text-align: left;

color: #000000;
  } 
  @media only screen and (max-width: 700px) {
	.grid-main{
		grid-template-columns: 1fr;
    padding: 2rem;
   gap: 1%;
   margin-left:3rem;

	}
}