   /*  */
   .what__container{
	display: grid;
	grid-template-columns: 30% 48%;
	/* gap: 15%; */
	grid-column-gap:20%;
	padding: 8rem;
	grid-template-rows: minmax(200px auto);
	overflow: hidden;

  }

.grid__text {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: rgb(189, 10, 10);
  text-align: center;

	}
.container-text{
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;
color: #000000;
}
.button_new {
	border-radius: 120px;
	background: white;
    border: 1px solid;
    color: #0c0101;
    text-align: center;
    /* font-size: 28px; */
    padding: 9px;
    width: 218px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 4rem;
	
  }
  
  .button_new span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #d12a2a;
	
  }
  
  /* .button_new span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  } */
  
  .button_new:hover span {
	padding-right: 25px;
  }
  
  .button_new:hover span:after {
	opacity: 1;
	right: 0;
  }
.btn-mail{
	  background: white;
	  text-decoration: none;
	  border: 1px solid;
	  outline: none;
	  color: #0c0c0c;
	  font-weight: 700;
	  border-radius: 30px;
	  font-size: 12px;
	  padding: 20px 40px;
	  border-color: #d12a2a;
  
}
.span{
	background-color: #0E828F;
	color: white;
}
  @media only screen and (max-width: 700px) {
	.what__container{
		grid-template-columns: 1fr;
		padding: 0rem;
		grid-column-gap: 5%;
		margin-left: -4rem;
	
		
	}
	.container-text{
		grid-template-columns: 1fr;
		padding: 7rem;
		padding-left: 9rem;
		margin-left: -1.5rem;
		
			font-family: 'Nunito';
			font-style: normal;
			font-weight: 400;
			font-size: 22px;
			line-height: 34px;
			color: #000000;
			

	
	}
}