

.portiolio{
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 72px;
text-align: center;
color: #0E828F;
}
.red{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  
    text-align: center;
    
    color:#EC1771 }
    .img{
     
    }
.img__grid{
    display: grid;
    grid-template-columns: 80%;
    grid-auto-rows: minmax(150px,auto);
    padding: 2rem;
    
}
.grid__port{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-auto-rows: minmax(150px,auto);
    gap: 5%;
    padding: 3rem;
}
.grid__flower{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2%;
    padding: 2rem;
}
.grid__flower_row{
 display: grid;
 grid-template-row: 15% 15%;
}

.second{
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}
.grid__second_img{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
}
.brand{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;
}
.secondbrand{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;
}

.two_row{
    display: grid;
    grid-template-rows: 5% 20%;
    gap:5% ;
}
.empty{
    display: grid;
    grid-template-rows: 5% 20%;
    gap: 5%;
}
.two_row_button{
    display: grid;
    grid-template-rows: 5% 20%;
    gap: 5%;
}
.btn-port{
gap: 5%;
text-decoration: none;
border: 1px solid #FFFFFF;
border-radius: 40px;
}
.port1{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

text-align: center;

color: #030211;
}
.portweb{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #7C7C7C;
}
.about_project{
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #0E828F;
}
.paragraph{
    padding: 3rem;
}
.grid-img2{
    display: grid;
    grid-template-columns: 80%;
    gap: 10%;
    padding: 3rem;
}
.port_lorem_txt{
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
padding: 2rem;
color: #0E828F;
}
.port_txt{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
padding: 2rem;
color: #7C7C7C;
}
.port_txt3{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
padding: 2rem;
color: #7C7C7C;
}
.orderd{
    padding: 2rem;
}
.about_paragraph{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;

color: #7C7C7C;
}
@media only screen and (max-width: 700px) {
  
    .img__grid{
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .grid__port{
        grid-template-columns: 1fr;
    }
    .grid-img2{
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .grid__flower{
        grid-template-columns: 1fr;
        
    }
    .grid__second_img{
        grid-template-columns: 1fr;
    }
    .two_row{
        grid-template-columns: 1fr;
    }
    .empty{
        grid-template-columns: 1fr;

    }
    .two_row_button{
        grid-template-columns: 1fr;
    }
}