.grid-darktemplet{
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-auto-rows: minmax(150px,auto);
  gap: 10%;
  padding: 3rem;

  background: linear-gradient(98.88deg, #F05F2B 13.12%, #EC1771 119.96%);
}
.grid__Team{
    display:grid;
    grid-template-columns: 15% 15% 15%;
    grid-auto-rows: minmax(150px,auto);
    /* gap: 10%; */
   grid-column-gap:15%;
    padding: 3rem;
    margin-left: 15%;
  
}
.work p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #7C7C7C;
}

.subscribe__team{
    background:transparent;
  margin-left: 1rem;
align-items: center;
padding: 9px 18px;
gap: 6px;
color: white;
/* width: 136.82px; */
height: 48.82px;
border: #D3D3D3;
border: 1px solid white;
border-radius: 40px;
margin-top: 1rem;
}
.formtxt{
    background: #FFFFFF;
border: 1px solid #D3D3D3;
border-radius: 40px;
}
.name{
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-align: center;

color: #030211;
}
.color{
    background-color: #FFFFFF;
    color: #F05F2B;
}
.grid-bttun {
    display: grid;
    grid-template-columns: 90%;
    padding: 2rem;
    gap: 5%;
    
}
.btn-join{

    background: rgb(206, 83, 83);
    text-decoration: none;
    border: none;
    outline: none;
    color: #0c0c0c;
    font-weight: 700;
    border-radius: 30px;
    font-size: 12px;
    padding: 20px 60px;
    border-color: #000000;
   
}
.team1 p{
    width: 662.7px;
	height: 65px;
	 margin-left: 25%;
     text-align: center;
   
}
.button__team {
    border-radius: 84px;
    background-color: hsl(14, 91%, 54%);
    color: #FFFFFF;
   
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 11px;
    width: 13rem;
    height: 4rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 33rem;

  }
  
  .button__team span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 1rem;
  }
  
  /* .button__team span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  } */
  
  .button__team:hover span {
    padding-right: 25px;
  }
  
  .button__team:hover span:after {
    opacity: 1;
    right: 0;
  }
.team-1{
   
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.team-2{
    width: 662.7px;
	height: 68px;
	 margin-left: 25%;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;
color: #FFFFFF;

}

@media only screen and (max-width: 700px) {
	.grid-darktemplet{
		grid-template-columns: 1fr;
        overflow: hidden;
        padding: 1rem;
		
	}
    .button__team{
        margin-left: 7rem;
    }
    .team1{
        width:auto;
        height: auto;
        margin-left: 5%;
    }
    .team-2{
        margin-top: -2rem;
    }
    .grid__Team{
        grid-template-columns: 1fr;
        padding: 1rem;
        gap:1%

    }
    .subscribe__team{
        padding: 0rem;
        margin-top: 1rem;
        /* margin-bottom: 2rem; */
        margin-bottom: 10rem;
    }
    .color{
        grid-template-columns: 1fr;
    }
    .team-1{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .team-2{
        width: 100%;
        height: 100%;
        margin-left: 1%;
        padding: 1rem;
    }
    .grid-bttun{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}